<div class="error flex flex-column align-items-center">
    <div class="flex">
        <h1>Whoopsie! An error occurred</h1>
    </div>
    <div class="flex">
        <i class="fas fa-dumpster-fire fa-10x"></i>
    </div>
    <div *ngIf="error && error.name" class="flex">
        <h3>{{error.name}}</h3>
    </div>
    <div *ngIf="error && error.cause" class="flex">
        <h3>{{error.cause}}</h3>
    </div>
    <div *ngIf="error && error.message" class="flex">
        <h3>{{error.message}}</h3>
    </div>
    <div *ngIf="error && error.stack" class="flex">
        <pre>{{error.stack}}</pre>
    </div>
</div>

