.login-card {
    min-width: 367px;
    max-width: 367px;
    background: white;
    border-radius: 6px;
    border: 1px;
    border-color: white;
    border-style: solid;
}

.login-header {
    background: white;
}

.login-body {
    background: white;
}

.login-footer {
    background: white;
}

.error-message {
    background: white;
}

.invalid {
    color: var(--invalid-text-color);
}

.login-notice {
    overflow-wrap: break-word;
    width: 80%;
}

.login-element {
    width: 68%;
}