/* SCSS Overwrites for PrimeNg buttons and button-type components */
.p-button {
    color: $white;
    background-color: $normal-button-bg-color;
}

.p-button.p-button-outlined {
    color: $outlined-button-text-color;
    background-color: transparent;
}