.article .p-chip {
    background: $topbar-bg-color;
}

.article .p-chip .p-chip-text {
    background: $topbar-bg-color;
    color: $primary-text-color;
}

.p-chips .p-chips-multiple-container .p-chips-token {
    background: $topbar-bg-color;
    color: $primary-text-color;
}

.p-chips .p-chips-multiple-container {
    background: $panel-content-bg-color;
    border: none;
}