.article .p-editor-container .p-editor-content {
    border-radius: 6px;
    border-color: $panel-content-bg-color;
}

.article .p-editor-container .p-editor-content .ql-editor {
    background-color: $panel-content-bg-color;
    color: $primary-text-color;
    scrollbar-width: thin;
    max-height: 367px;
    border-radius: 6px;
    border-color: $panel-content-bg-color;
}

.article .p-editor-container .p-editor-content.ql-snow {
    border-color: $panel-content-bg-color;
}

.article-editor .p-editor-container .p-editor-content.ql-snow {
    border-color: $panel-content-bg-color;
}

.article-editor .p-editor-container .p-editor-content .ql-editor {
    background-color: $panel-content-bg-color;
    color: $primary-text-color;
    scrollbar-width: thin;
    max-height: 367px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: $panel-content-bg-color;
}

.article-editor .p-editor-container .p-editor-toolbar.ql-snow {
    background-color: $topbar-bg-color;
}