/* SCSS HEX */
$alice-blue: #e3f2fdff;
$antiflash-white: #eeeeeeff;
$atomic-tangerine: #e39774ff;
$black: #000000;
$blue-munsell: #468c98ff;
$charcoal: #374151;
$davys-gray: #494850ff;
$moonstone: #5c9eadff;
$paynes-gray: #326273ff;
$raisin-black: #2c2c34ff;
$rose-quartz: #978897ff;
$white: #ffffffff;