@import "./colors";

/* Modified Main Color Palatte */
$darker-paynes-gray: darken($paynes-gray, 25%);

/* Theme-specific component colors */
$footer-bg-color: $raisin-black;
$footer-text-color: $white;
$normal-button-bg-color: $paynes-gray;
$outlined-button-text-color: $paynes-gray;
$panel-header-color: $raisin-black;
$panel-header-text-color: $white;
$topbar-bg-color: $raisin-black;
$topbar-text-color: $white;
$topbar-hover-bg-color: $darker-paynes-gray;
$topbar-hover-text-color: $white;
$topbar-active-bg-color: $paynes-gray;
$topbar-active-text-color: $white;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, $rose-quartz, $alice-blue, $davys-gray, $raisin-black, $blue-munsell);
$gradient-right: linear-gradient(90deg, $rose-quartz, $alice-blue, $davys-gray, $raisin-black, $blue-munsell);
$gradient-bottom: linear-gradient(180deg, $rose-quartz, $alice-blue, $davys-gray, $raisin-black, $blue-munsell);
$gradient-left: linear-gradient(270deg, $rose-quartz, $alice-blue, $davys-gray, $raisin-black, $blue-munsell);
$gradient-top-right: linear-gradient(45deg, $rose-quartz, $alice-blue, $davys-gray, $raisin-black, $blue-munsell);
$gradient-bottom-right: linear-gradient(135deg, $rose-quartz, $alice-blue, $davys-gray, $raisin-black, $blue-munsell);
$gradient-top-left: linear-gradient(225deg, $rose-quartz, $alice-blue, $davys-gray, $raisin-black, $blue-munsell);
$gradient-bottom-left: linear-gradient(315deg, $rose-quartz, $alice-blue, $davys-gray, $raisin-black, $blue-munsell);
$gradient-radial: radial-gradient($rose-quartz, $alice-blue, $davys-gray, $raisin-black, $blue-munsell);

@import "./primeng/buttons";
@import "./primeng/panels";
@import "./index";

  /* Variables */
  :root {
    --moonstone: #{$moonstone};
    --white: #{$white};
    --paynes-gray: #{$paynes-gray};
    --antiflash-white: #{$antiflash-white};
    --atomic-tangerine: #{$atomic-tangerine};
    --alice-blue: #{$alice-blue};
    --daveys-gray: #{$davys-gray};
    --raisin-black: #{$raisin-black};
  
    --darker-paynes-gray: #{$darker-paynes-gray};

    --footer-bg-color: #{$footer-bg-color};
    --footer-text-color: #{$footer-text-color};
    --topbar-bg-color: #{$topbar-bg-color};
    --topbar-text-color: #{$topbar-text-color};
    --topbar-hover-bg-color: #{$topbar-hover-bg-color};
    --topbar-hover-text-color: #{$topbar-hover-text-color};
    --topbar-active-bg-color: #{$topbar-active-bg-color};
    --topbar-active-text-color: #{$topbar-active-text-color};
  }