<div class="grid grid-nogutter surface-section text-800">
    <div class="col-2"></div>
    <div class="col-8">
        <div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="mt-2 flex align-items-center justify-content-center animation-duration-1000">
            <p>Area 1</p>
        </div>
        <div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="mt-2 flex align-items-center justify-content-center animation-duration-1000">
            <p>Area 2</p>
        </div>
        <div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="mt-2 mb-2 flex align-items-center justify-content-center animation-duration-1000">
            <p>Area 3</p>
        </div>
    </div>
    <div class="col-2"></div>
</div>
