<div class="topbar">
        @for (menuItem of menuItems; track $index) {
        @if(isUserItem(menuItem)){
        <a [class]="isActive(menuItem) ? 'active login' : 'login'" (click)="triggerAction(menuItem)">
                <i [class]="menuItem.icon"></i>
                {{menuItem.label}}
        </a>
        } @else {
        <a [class]="isActive(menuItem) ? 'active ' : ''" (click)="triggerAction(menuItem)">
                <i [class]="menuItem.icon"></i>
                {{menuItem.label}}
        </a>
        }
        }
</div>