.topbar {
    background: var(--topbar-bg-color);
    overflow: hidden;
  }
  
  .topbar a {
    float: left;
    color: var(--topbar-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topbar a:hover {
    background: var(--topbar-hover-bg-color);
    color: var(--topbar-hover-text-color);
  }
  
  .topbar a.active {
    background: var(--topbar-active-bg-color);
    color: var(--topbar-active-text-color);
  }